/* ../../desktop.blocks/layout/layout.css:begin */
.layout
{
    min-height: 100px;
	font: 13px  Arial;
}
 
.layout__left
{
    padding-right: 200px;
	font: 13px  Arial;
	background: red;
}
 
.layout__right
{
    
 
    width: 150px;
}
/* ../../desktop.blocks/layout/layout.css:end */
/* ../../libs/bem-components/common.blocks/image/image.styl:begin */
.image {
  border: 0;
}
/* ../../libs/bem-components/common.blocks/image/image.styl:end */
/* ../../desktop.blocks/page/page.css:begin */
.page{
    margin: 0; padding: 0;
	background: white;
	font: 13px  Arial, Helvetica, sans-serif;
	color: black;
}
 
.page__main{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
}
/* ../../desktop.blocks/page/page.css:end */
